{% extends "base.html" %}

{% block content %}
<h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<ul id='chat-items'>
{% for chat in object.chatmessage_set.all %}

<li>{{ chat.message }} via {{ chat.user }}</li>

{% endfor %}
</ul>

<form id='form' method='POST'> {% csrf_token %}
    <input type="hidden" id="myUsername" value="{{user.username}}">
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>

{% endblock %}

{% block script %}
<!-- To reconnect when restart the server -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script>
// websocket scripts
console.log(window.location)
var loc = window.location
var formData=$("#form")
var msgInput = $("#id_message")
var chatHolder = $("#chat-items")
var me =$("#myUsername").val()

var wsStart = 'ws://'
if(loc.protocol == 'https'){
    wsStart='wss://'
}
var endpoint=wsStart+ loc.host+ loc.pathname
var socket = new ReconnectingWebSocket(endpoint)
//Cuando recibe un mensaje que hacemos
socket.onmessage = function(c){
    console.log("message",c)
    var charDataMsg = JSON.parse(c.data)
    chatHolder.append("<li>"+ charDataMsg.message +" via "+charDataMsg.username+"</li>")
}
socket.onopen = function(c){
    console.log("open",c)
    formData.submit(function(event){
        event.preventDefault()
        var msgText = msgInput.val()
        //chatHolder.append("<li>"+ msgText +" via "+me+"</li>")
        var finalData ={
            'message': msgText
        }
        socket.send(JSON.stringify(finalData))
        formData[0].reset()
    })
}
socket.onerror = function(c){
    console.log("error",c)
}
socket.onclose = function(c){
    console.log("close",c)
}
</script>
{% endblock %}